* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: sans-serif;
}

button {
	width: 100%;
	padding: 10px;
	border: 0;
	outline: 0;
	background-color: #0061bb;
	color: #fff;
}

.search-area {
	display: flex;
}

.or-divider {
	text-align: center;
	padding: 5px;
}

.contacts-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.contacts-list li {
	display: flex;
	width: 100%;
	padding: 10px;
	margin-top: -1px;
	background-color: #eee;
	border: 1px solid #ccc;
	color: #000;
}

.contacts-list li img {
	width: 20%;
	height: 100%;
	margin-left: 10px;
}

.contacts-list li .contact-details {
	flex: 1 1 auto;
	max-width: 100%;
}